<header class="header">
	<nav class="header__nav">
		<ul class="menu">
			<li class="menu__item">
				<a href="{{ path('home')}}" class="menu__link">Accueil</a>
			</li>
			<li class="menu__item menu__itemSpecial">
				<a href="{{ path('home')}}#categories" class="menu__link menu__link--special">
					Nos Produits
					<i class="fa-solid fa-chevron-right menu__link-icon"></i>
				</a>
				<ul class="menu__submenu">
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'boissons'})}}" class="menu__submenu-link">Boissons</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'fruits'})}}" class="menu__submenu-link">Fruits</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'legumes'})}}" class="menu__submenu-link">Légumes</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'boulangerie'})}}" class="menu__submenu-link">Boulangerie</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'cremerie'})}}" class="menu__submenu-link">Crèmerie</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'bieres'})}}" class="menu__submenu-link">Bières</a>
					</li>
				</ul>
			</li>
			<li class="menu__item">
				<a href="{{ path('home')}}#history" class="menu__link">Notre Histoire</a>
			</li>
			<li class="menu__item">
				<a href="{{ path('home') }}#contact" class="menu__link">Contact</a>
			</li>


			<li class="menu__item">
				<a href="{{ path('admin_test') }}" class="menu__link">Administration</a>
			</li>
		</ul>
	</nav>
	<div class="header__icon">
		<div class="header__language">
			<a href="#"><img class="header__language-image" src="{{ asset('images/icons/556602.png')}}" alt="icone représentant le drapeau de la France pour la langue française"></a>
			<a href="#"><img class="header__language-image" src="{{ asset('images/icons/2151356.png')}}" alt="icone représentant le drapeau de la hollande"></a>
		</div>
		<div class="header__cart">
			<a class="cart__number" href="{{ path('cart_index')}}">
				<img class="header__cart-image" src="{{ asset('images/icons/Shopping-Cart-01-256.png')}}" alt="icone représentant un panier en blanc">
				{% set totalQuantity = cart_total_quantity() %}
				{% if totalQuantity >= 1 %}
					<div class="cart__number-container">{{ cart_total_quantity() }}</div>
				{% endif %}
			</a>
		</div>
		<div class="header__heart">
			<a class="favoris__number" href=" {{ path('favoris_index')}} ">
				<img class="header__heart-image" src="{{ asset('images/icons/Heart-WF-256.png')}}" alt="icone représentant un coeur pour les coups de coeur">
				{% set totalQuantity = favoris_total_quantity() %}
				{% if totalQuantity >= 1 %}
					<div class="favoris__number-container">{{ favoris_total_quantity() }}</div>
				{% endif %}
			</a>
		</div>
		<div class="header__account">
			<a href="{{ path('app_login')}}">
				<img class="header__account-image" src="{{ asset('images/icons/Business-Man-Add-02-256.png')}}" alt="icone représentant le compte de l'utilisateur en blanc">
			</a>
		</div>
	</div>
</header>

<header class="burger">
	<div class="burger2">
		<a href=" #" class=" burger__link">
			<span class="burger__icon">
				<span class="burger__span"></span>
			</span>
		</a>
		<div class="burger__cart-parent">
			<div class="burger__language">
				<a class="language__block" href="#">
					<img class="burger__account-image" src="{{ asset('images/icons/556602.png')}}" alt="icône représentant le drapeau de la France pour la langue française">
				</a>

				<a class="language__block" href="#">
					<img class="burger__account-image" src="{{ asset('images/icons/2151356.png')}}" alt="icône représentant le drapeau de la Hollande">
				</a>
			</div>
			<div class="burger__cart">
				<a class="cart__number" href="{{ path('cart_index')}}">
					<img class="burger__cart-image" src="{{ asset('images/icons/Shopping-Cart-01-256.png')}}" alt="icone représentant un panier en blanc">
					{% set totalQuantity = cart_total_quantity() %}
					{% if totalQuantity >= 1 %}
						<div class="cart__number-container">{{ cart_total_quantity() }}</div>
					{% endif %}
				</a>
			</div>
			<div class="burger__heart">
				<a class="favoris__number" href=" {{ path('favoris_index')}} ">
					<img class="burger__heart-image" src="{{ asset('images/icons/Heart-WF-256.png')}}" alt="icone représentant un coeur pour les coups de coeur">
					{% set totalQuantity = favoris_total_quantity() %}
					{% if totalQuantity >= 1 %}
						<div class="favoris__number-container">{{ favoris_total_quantity() }}</div>
					{% endif %}
				</a>
			</div>
			<div class="burger__account">
				<a class="account__block" href=" {{ path('app_login')}} ">
					<img class="burger__account-image" src="{{ asset('images/icons/Business-Man-Add-02-256.png')}}" alt="icone représentant le compte de l'utilisateur en blanc">
				</a>
			</div>
		</div>
	</div>
	<nav class="burger__nav">
		<ul class="burger__menu">
			<li class="burger__menu-item">
				<a href=" {{ path('home')}}" class="burger__menu-link">Accueil</a>
			</li>burger__menu-item
			<li class="burger__menu-item">
				<a href="{{ path('home')}}#categories" class="burger__menu-link">Nos Produits</a>
			</li>
			<li class="">
				<a href="{{ path('products_index', {slug: 'boissons'})}}" class="burger__menu-link">Boissons</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('products_index', {slug: 'fruits'})}}" class="burger__menu-link">Fruits</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('products_index', {slug: 'légumes'})}}" class="burger__menu-link">Légumes</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('products_index', {slug: 'boulangerie'})}}" class="burger__menu-link">Boulangerie</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('products_index', {slug: 'crèmerie'})}}" class="burger__menu-link">Crèmerie</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('products_index', {slug: 'bières'})}}" class="burger__menu-link">Bières</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('home')}}#history" class="burger__menu-link">Notre Histoire</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('home')}}#contact" class="burger__menu-link">Contact</a>
			</li>
		</ul>
	</nav>
</header>
