<header class="header">
	<nav class="header__nav">
		<ul class="menu">
			<li class="menu__item">
				<a href="{{ path('home')}}" class="menu__link">Accueil</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link menu__link--special">
					Nos Produits
					<i class="fa-solid fa-chevron-right menu__link-icon"></i>
				</a>
				<ul class="menu__submenu">
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'boissons'})}}" class="menu__submenu-link">Boissons</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'fruits'})}}" class="menu__submenu-link">Fruits</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'legumes'})}}" class="menu__submenu-link">Légumes</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'boulangerie'})}}" class="menu__submenu-link">Boulangerie</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'cremerie'})}}" class="menu__submenu-link">Crèmerie</a>
					</li>
					<li class="menu__submenu-item">
						<a href="{{ path('products_index', {slug: 'bieres'})}}" class="menu__submenu-link">Bières</a>
					</li>
				</ul>
			</li>
			<li class="menu__item">
				<a href="{{ path('home')}}#history" class="menu__link">Notre Histoire</a>
			</li>
			<li class="menu__item">
				<a href="{{ path('home') }}#contact" class="menu__link">Contact</a>
			</li>
		</ul>
	</nav>

	<div class="header__icon">
		<div class="header__language">
			<a href="#">
				<img class="header__language-image" src="{{ asset('images/icons/555625.png')}}" alt="icone représentant le drapeau de la Belgique">
			</a>
		</div>
		<div class="header__cart">
			<a href="#">
				<img class="header__cart-image" src="{{ asset('images/icons/Shopping-Cart-01-256.png')}}" alt="icone représentant un panier en blanc">
			</a>
		</div>
		<div class="header__account">
			<a href="{{ path('app_login')}}">
				<img class="header__account-image" src="{{ asset('images/icons/Business-Man-Add-02-256.png')}}" alt="icone représentant le compte de l'utilisateur en blanc">
			</a>
		</div>
	</div>
</header>

<header class="burger">
	<a href="#" class="burger__link">
		<span class="burger__icon">
			<span class="burger__span"></span>
		</span>
	</a>
	<nav class="burger__nav">
		<ul class="burger__menu">
			<li class="burger__menu-item">
				<a href=" {{ path('home')}}" class="burger__menu-link">Accueil</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Nos Produits</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Boissons</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Fruits</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Légumes</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Boulangerie</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Crèmerie</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Bières</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('home')}}#history" class="burger__menu-link">Notre Histoire</a>
			</li>
			<li class="burger__menu-item">
				<a href="{{ path('home')}}#contact" class="burger__menu-link">Contact</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Mon compte</a>
			</li>
			<li class="burger__menu-item">
				<a href="#" class="burger__menu-link">Connexion</a>
			</li>
		</ul>
	</nav>
</header>
