{% extends 'base.html.twig' %}

{% block title %}Warelles - Panier
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Panier</h2>

		<div class="simpleBox">
			<div class="cart">
				<h3>Votre Panier:
					{{ cart_total_quantity() }}
					article(s)</h3>
				<div class="cart__container">
					{% for element in data %}
						<div class="cart__container-image">
							<img class="image" src=" {{ asset('images/articles/' ~ element.product.image)}} ">
						</div>
						<div class="cart__container-item">
							<div class="cart__container-text">
								<p class="text">Nom:</p>
								{{ element.product.name }}
							</div>
							<div class="cart__container-text">
								<p class="text">Prix:</p>
								{{ element.product.price }}
								€
							</div>
						</div>
						<div class="cart__container-item">
							<div class="cart__container-text">
								<p class="text">Quantité:</p>
								<div class="cart__container-icon">
									<a class="paddingAll5 cart__button cart__button-container" href="{{ path('cart_add', {id: element.product.id})}}">
										<i class="fa-solid fa-plus"></i>
									</a>
									<div class="paddingAll5 cart__container-icon--flex">
										{{element.quantity}}
									</div>
									<a class="paddingAll5 cart__button cart__button-container" href="{{ path('cart_remove', {id: element.product.id})}}">
										<i class="fa-solid fa-minus"></i>
									</a>
								</div>
							</div>
							<div class="cart__container-text">
								<p class="text">Total:</p>
								{{ (element.product.price * element.quantity) | number_format(2, ',', ' ')  }}
								€
							</div>
						</div>
						<div class="cart__container-item widthAuto">
							<div class="cart__container-text">
								<form method="post" action="{{ path('cart_delete', {id: element.product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit?')">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ element.product.id) }}">
									<button type="submit" class="size18 cart__container-supp">
										<i class="fa-solid fa-trash-can"></i>
									</button>
								</form>
							</div>
						</div>
					{% else %}
						<tr>
							<td>Votre panier est vide</td>
						</tr>
					{% endfor %}
				</div>
				<tfoot>
					<tr>
						<td>Total</td>
						<td>{{ total | number_format(2, ',', ' ') }}
							€</td>
						<td>
							<a href="{{ path('cart_empty')}}">Vider</a>
						</td>
					</tr>
				</tfoot>
			</div>
		</div>
	</section>
{% endblock %}
