{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<section class="home">
		<h1 class="home__title-h1">La ferme de titi</h1>
		<div class="home__logo">
			<img class="home__logo-image" src="{{ asset('images/logo/Logo.png')}}" alt="logo de la ferme avec une fermière et le nom de la ferme">
		</div>
		<div class="home__language">
			<div class="home__language-options">
				<a href="#" class="home__language-optionLeft">FR</a>
				<a href="#" class="home__language-optionRight">NL</a>
			</div>
		</div>
		<div class="home__button">
			<a href="#" class="home__button-link">
				Contactez-nous
				<i class="fa-solid fa-chevron-right home__button-icon"></i>
			</a>
		</div>
	</section>

	<section class="home__products">
		<div class="home__overlay"></div>
		<h2 class="home__title-h2">Nos Produits</h2>
		<div class="home__grid-container">
			<div class="home__grid">
				<div class="home__card">
					<p class="home__card-title">Boissons</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/products/smoothies-aux-fruits-frais-fond-bois_23-2148227524.webp')}}" alt="image représentant différentes bouteilles de jus de fruits">
							</a>
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Fruits</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/products/arrangement-fruits-savoureux-sous-angle-eleve_23-2148545917.webp')}}" alt="image représentant différentes sortes de fruits">
							</a>
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Légumes</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/products/legume-vue-face_140725-103355-1.webp')}}" alt="image représentant différentes sortes de légumes">
							</a>
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Boulangerie</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/products/boulangerie_23-2148011544.webp')}}" alt="image représentant différentes sortes de pain">
							</a>
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Crèmerie</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/products/delicieux-morceaux-fromage_144627-43352.webp')}}" alt="image représentant différentes sorte de fromage">
							</a>
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Bières</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/products/biere-aux-epis-ble-chips-dans-verre-table-bois-high-angle-view_176474-5888.webp')}}" alt="image représentant une bière dans un verre">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="home__history">
		<h2>Notre Histoire</h2>
	</section>
{% endblock %}
