{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<section class="home">
		<h1 class="home__title-h1">La ferme de titi</h1>
		<div class="home__logo">
			<img class="home__logo-image" src="{{ asset('images/logo/Logo.png')}}" alt="logo de la ferme avec une fermière et le nom de la ferme">
		</div>
		<div class="home__language">
			<div class="home__language-options">
				<a href="#" class="home__language-optionLeft">FR</a>
				<a href="#" class="home__language-optionRight">NL</a>
			</div>
		</div>
		<div class="home__button">
			<a href="#" class="home__button-link">
				Contactez-nous
				<i class="fa-solid fa-chevron-right home__button-icon"></i>
			</a>
		</div>
	</section>

	<section class="home__categories">
		<div class="categories__overlay"></div>
		<h2 class="categories__title-h2">Nos Produits</h2>
		<div class="categories__grid-container">
			<div class="categories__grid">
				<div class="category__card">
					<p class="category__card-title">Boissons</p>
					<div class="category__card-content">
						<div class="category__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/categories/smoothies-aux-fruits-frais-fond-bois_23-2148227524.webp')}}" alt="image représentant différentes bouteilles de jus de fruits">
							</a>
						</div>
					</div>
				</div>
				<div class="category__card">
					<p class="category__card-title">Fruits</p>
					<div class="category__card-content">
						<div class="category__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/categories/arrangement-fruits-savoureux-sous-angle-eleve_23-2148545917.webp')}}" alt="image représentant différentes sortes de fruits">
							</a>
						</div>
					</div>
				</div>
				<div class="category__card">
					<p class="category__card-title">Légumes</p>
					<div class="category__card-content">
						<div class="category__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/categories/legume-vue-face_140725-103355-1.webp')}}" alt="image représentant différentes sortes de légumes">
							</a>
						</div>
					</div>
				</div>
				<div class="category__card">
					<p class="category__card-title">Boulangerie</p>
					<div class="category__card-content">
						<div class="category__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/categories/boulangerie_23-2148011544.webp')}}" alt="image représentant différentes sortes de pain">
							</a>
						</div>
					</div>
				</div>
				<div class="category__card">
					<p class="category__card-title">Crèmerie</p>
					<div class="category__card-content">
						<div class="category__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/categories/delicieux-morceaux-fromage_144627-43352.webp')}}" alt="image représentant différentes sorte de fromage">
							</a>
						</div>
					</div>
				</div>
				<div class="category__card">
					<p class="category__card-title">Bières</p>
					<div class="category__card-content">
						<div class="category__card-image">
							<a href="#">
								<img class="image" src=" {{ asset('images/categories/biere-aux-epis-ble-chips-dans-verre-table-bois-high-angle-view_176474-5888.webp')}}" alt="image représentant une bière dans un verre">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="home__history">
		<div class="history__overlay"></div>
		<h2 class="history__title-h2">Notre Histoire</h2>
		<div class="history__grid-container">
			<div class="history__grid">
				<div class="history__card-left">
					<p class="history__card-title">La Ferme de Titi</p>
					<div class="history__card-content">
						<p class="history__card-text">Nichée à Enghien, dans le Hainaut, la ferme de Titi est un modèle de durabilité écologique.</p>
						<br>
						<p class="history__card-text">Fondée en 2020, elle utilise la permaculture et des techniques naturelles pour préserver le sol.</p>
						<br>
						<p class="history__card-text">Les poules, chèvres et abeilles de la ferme contribuent à l'écosystème, tandis que l'irrigation goutte-à-goutte et l'énergie solaire réduisent l'empreinte écologique.</p>
						<br>
						<p class="history__card-text">La ferme propose également des ateliers éducatifs et vend des produits, favorisant une agriculture respectueuse de l'environnement.</p>
					</div>
				</div>
				<div class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/portrait-bel-agneau-regardant-avant-dans-etable-betail_342744-432.webp')}}" alt="image représentant des chèvres blanches">
						</div>
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/381468004_1060897095213730_4705976397948913331_n.jpg')}}" alt="image représentant la ferme de Titi">
						</div>
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/famille-passe-du-temps-vacances-dans-village-enfant-jouant-dans-nature-gens-marchent-au-grand-air_1157-42230.jpg')}}" alt="image représentant une petite fille qui donne à manger à des chèvres">
						</div>
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/femme-tenue-panier-plein-legumes-gros-plan_23-2148580036.jpg')}}" alt="imaghe représentant la ferme en hiver">
						</div>
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/Warelles_279261442_1950849908436490.jpg')}}" alt="images avec des vaches">
						</div>
					</div>
					<div class="swiper-pagination"></div>

					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="home__contact">
		<div class="contact__overlay"></div>
		<h2 class="contact__title-h2">Contact</h2>
		<div class="contact__grid-container">
			<div class="contact__grid">
				<div class="contact__card-left">
					<p class="history__card-title">La Ferme de Titi</p>
					<div class="history__card-content">
						<p class="history__card-text">Nichée à Enghien, dans le Hainaut, la ferme de Titi est un modèle de durabilité écologique.</p>
						<br>
						<p class="history__card-text">Fondée en 2020, elle utilise la permaculture et des techniques naturelles pour préserver le sol.</p>
						<br>
						<p class="history__card-text">Les poules, chèvres et abeilles de la ferme contribuent à l'écosystème, tandis que l'irrigation goutte-à-goutte et l'énergie solaire réduisent l'empreinte écologique.</p>
						<br>
						<p class="history__card-text">La ferme propose également des ateliers éducatifs et vend des produits, favorisant une agriculture respectueuse de l'environnement.</p>
					</div>
				</div>
				<div class="history__card-right"></div>
			</div>
		</section>
	{% endblock %}
