{% extends 'base.html.twig' %}

{% block title %}
	Ferme de Warelles
{% endblock %}

{% block body %}
	<section class="home burger__effect homeWindow">
		<h1 class="home__title-h1">La ferme de titi</h1>
		<div class="home__logo">
			<img class="home__logo-image" src="{{ asset('images/logo/Logo.png')}}" alt="logo de la ferme avec une fermière et le nom de la ferme">
		</div>
		<div class="home__language">
			<div class="home__language-options">
				<a href="#" class="home__language-optionLeft">FR</a>
				<a href="#" class="home__language-optionRight">NL</a>
			</div>
		</div>
		<div class="button button--marginTop">
			<button class="button__container button__container--large">
				<a class="button__link button__link--textSmall" href="{{ path('home') }}#contact">Contactez-nous</a>
				<i class="fa-solid fa-chevron-right home__button-icon"></i>
			</button>
		</div>
	</section>

	<section class="section" id="categories">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Nos Produits</h2>
		<div class="grid">
			<div class="grid__container">
				{% for category in categories %}
					<div class="card__circle">
						<p class="card__circle-title">{{ category.name }}</p>
						<div class="card__circle-content">
							<div class="card__circle-image">
								<a href="{{ path('products_index', {slug: category.slug})}}">
									<img class="image" src=" {{ asset('images/categories/' ~ category.image)}}" alt="{{ category.alt }}">
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="section section--special" id="history">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Notre Histoire</h2>
		<div class="dualbox dualbox--padding">
			<div class="dualbox__container history__grid-container">
				<div class="dualbox__item-left dualbox__item-left--history">
					<p class="dualbox__title">La Ferme de Warelles</p>
					<div class="dualbox__content">
						<p class="dualbox__content-text">Nichée à Enghien, dans le Hainaut, la ferme de Warelles est un modèle de durabilité écologique.</p>
						<p class="dualbox__content-text">Fondée en 2020, elle utilise la permaculture et des techniques naturelles pour préserver le sol.</p>
						<p class="dualbox__content-text">Les poules, chèvres et abeilles de la ferme contribuent à l'écosystème, tandis que l'irrigation goutte-à-goutte et l'énergie solaire réduisent l'empreinte écologique.</p>
						<p class="dualbox__content-text">La ferme propose également des ateliers éducatifs et vend des produits, favorisant une agriculture respectueuse de l'environnement.</p>
					</div>
				</div>

				<div class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/portrait-bel-agneau-regardant-avant-dans-etable-betail_342744-432.webp')}}" alt="image représentant des chèvres blanches">
						</div>
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/381468004_1060897095213730_4705976397948913331_n.webp')}}" alt="image représentant la ferme de Titi">
						</div>
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/famille-passe-du-temps-vacances-dans-village-enfant-jouant-dans-nature-gens-marchent-au-grand-air_11.webp')}}" alt="image représentant une petite fille qui donne à manger à des chèvres">
						</div>
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/femme-tenue-panier-plein-legumes-gros-plan_23-2148580036.webp')}}" alt="image représentant la ferme en hiver">
						</div>
						<div class="swiper-slide">
							<img class="swiper__slide-image" src="{{ asset('images/carroussel/Warelles_279261442_1950849908436490.webp')}}" alt="images avec des vaches">
						</div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--special section--padding" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Nous Contacter</h2>
		<div class="dualbox dualbox--padding2">
			<div class="dualbox__container dualbox__container--resize">
				<div class="dualbox__item-left">
					<div class="form">
						{{ form_start(form) }}
						<ul class="form__ul">
							<li class="form__li">
								{{ form_row(form.firstname)}}
							</li>
							<li class="form__li">
								{{ form_row(form.lastname)}}
							</li>
							<li class="form__li">
								{{ form_row(form.email) }}
							</li>
							<li class="form__li">
								{{ form_row(form.address)}}
							</li>
							<li class="form__li">
								{{ form_row(form.message) }}
							</li>
						</ul>

						<div class="g-recaptcha" data-sitekey={{app.request.server.get('reCAPTCHA_PUBLISHABLE_KEY')}}></div>
						<br/>
						<div class="button">
							<button class="button__container button__container--small button__link button__link--textSmall" type="submit" name="contact">
								Envoyer
							</button>
						</div>

						{{ form_end(form) }}
					</div>
				</div>
				<div class="dualbox__item-right">
					<iframe class="dualbox__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12741.12678008157!2d4.045140484686441!3d50.67985695246992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3b3e64ef7ccd1%3A0xa73a34d132379dc6!2sLa%20Ferme%20de%20Warelles!5e0!3m2!1sfr!2sbe!4v1722945582588!5m2!1sfr!2sbe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
		<div class="banneryHead">
			<div class="banneryHead__grid">
				<div class="banneryHead__grid-right">
					<div class="banneryHead__icon">
						<img class="banneryHead__icon-image" src="{{ asset('images/icons/Telephone-01-256.png')}}" alt="image représentant l'icône d'un téléphone">
					</div>
					<p class="banneryHead__text">Service Client</p>
					<p class="banneryHead__text">+32477/36.39.71</p>
				</div>
				<div class="banneryHead__grid-center">
					<div class="banneryHead__icon">
						<img class="banneryHead__icon-image" src="{{ asset('images/icons/Message-Mail-256.png')}}" alt="image représentant l'icône d'un mail(enveloppe)">
					</div>
					<p class="banneryHead__text">E-mail</p>
					<p class="banneryHead__text">infos_warelles@gmail.com</p>
				</div>
				<div class="banneryHead__grid-left">
					<div class="banneryHead__icon">
						<img class="banneryHead__icon-image" src="{{ asset('images/icons/Alarm-Clock-256.png')}}" alt="image représentant l'icône d'une horloge">
					</div>
					<p class="banneryHead__text">Du Lundi au Samedi</p>
					<p class="banneryHead__text">de 10h00 à 18h00</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('swip') }},
{% endblock %}
