{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<section class="home">
		<h1 class="home__title-h1">La ferme de titi</h1>
		<div class="home__logo">
			<img class="home__logo-image" src="{{ asset('images/logo/Logo.png')}}" alt="logo de la ferme avec une fermière et le nom de la ferme">
		</div>
		<div class="home__language">
			<div class="home__language-options">
				<p class="home__language-option1 ">FR</p>
				<p class="home__language-option2">NL</p>
			</div>
		</div>
		<div class="home__button">
			<a href="#" class="home__button-link">Contactez-nous</a>
		</div>
	</section>


	<section class="home__products">
		<div class="home__overlay"></div>
		<h2 class="home__title-h2">Nos Produits</h2>
		<div class="home__grid-parent">
			<div class="home__grid">
				<div class="home__card">
					<p class="home__card-title">Boissons</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<img class="image" src=" {{ asset('images/products/smoothies-aux-fruits-frais-fond-bois_23-2148227524.webp')}}" alt="">
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Fruits</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<img class="image" src=" {{ asset('images/products/arrangement-fruits-savoureux-sous-angle-eleve_23-2148545917.webp')}}" alt="">
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Légumes</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<img class="image" src=" {{ asset('images/products/legume-vue-face_140725-103355-1.webp')}}" alt="">
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Boulangerie</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<img class="image" src=" {{ asset('images/products/boulangerie_23-2148011544.webp')}}" alt="">
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Crèmerie</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<img class="image" src=" {{ asset('images/products/delicieux-morceaux-fromage_144627-43352.webp')}}" alt="">
						</div>
					</div>
				</div>
				<div class="home__card">
					<p class="home__card-title">Bières</p>
					<div class="home__card-content">
						<div class="home__card-image">
							<img class="image" src=" {{ asset('images/products/biere-aux-epis-ble-chips-dans-verre-table-bois-high-angle-view_176474-5888.webp')}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>


<section class="home2">
	<h1>Bonjour section notre histoire</h1>
</section></section>{% endblock %}
