{% extends 'base.html.twig' %}

{% block title %}Warelles - Inscription
{% endblock %}

{% block body %}
	<section class="section section--padding" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Inscription</h2>

		<div class="simpleBox">
			<div class="form form--maxWidth form--flex form--supp" method="post">

				{{ form_start(registrationForm) }}

				<div class="form__label-container padding5">
					<div class="width45">
						{{ form_label(registrationForm.lastname)}}

						<div class='danger fontSizeSmall listStyleNone'>
							{{ form_errors(registrationForm.lastname) }}
						</div>

						{{ form_widget(registrationForm.lastname) }}
					</div>
					<div class="width45">
						{{ form_label(registrationForm.firstname)}}

						<div class='danger fontSizeSmall listStyleNone'>
							{{ form_errors(registrationForm.firstname) }}
						</div>

						{{ form_widget(registrationForm.firstname) }}
					</div>
				</div>

				<div class="padding5">
					{{ form_label(registrationForm.address)}}

					<div class='danger fontSizeSmall listStyleNone'>
						{{ form_errors(registrationForm.address) }}
					</div>

					{{ form_widget(registrationForm.address) }}
				</div>

				<div class="form__label-container padding5">
					<div class="width45">
						{{ form_label(registrationForm.zipcode)}}

						<div class='danger fontSizeSmall listStyleNone'>
							{{ form_errors(registrationForm.zipcode) }}
						</div>

						{{ form_widget(registrationForm.zipcode) }}
					</div>
					<div class="width45">
						{{ form_label(registrationForm.city)}}

						<div class='danger fontSizeSmall listStyleNone'>
							{{ form_errors(registrationForm.city) }}
						</div>

						{{ form_widget(registrationForm.city) }}
					</div>
				</div>

				<div class="padding5">
					{{ form_label(registrationForm.email) }}

					<div class='danger fontSizeSmall listStyleNone'>
						{{ form_errors(registrationForm.email) }}
					</div>

					{{ form_widget(registrationForm.email) }}
				</div>

				<div class="padding5">
					{{ form_label(registrationForm.plainPassword) }}

					<div class='danger fontSizeSmall listStyleNone'>
						{{ form_errors(registrationForm.plainPassword) }}
					</div>

					{{ form_widget(registrationForm.plainPassword) }}
				</div>

				{{ form_row(registrationForm.RGPDConsent) }}

				<div class="button button--marginTop2">
					<div class="button__container button__container--flex button__container--small">
						<button class="button__link button__link--textSmall button__link--supp" type="submit">M'inscrire</button>
					</div>
				</div>

				{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>
{% endblock %}
