{% extends 'base.html.twig' %}

{% block title %}Admin - Produits
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Administration des Produits</h2>

		<div class="simpleBox">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Image</th>
						<th>Prix</th>
						<th>Stock</th>
						<th>Slug</th>
						<th>Alt</th>
						<th>Type</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<th>
								{{product.id}}
							</th>
							<th>
								{{product.name}}
							</th>
							<th>
								<img src="{{ asset('images/articles/' ~ product.image)}}">
							</th>
							<th>
								{{product.price}}
							</th>
							<th>
								{{product.stock}}
							</th>
							<th>
								{{product.slug}}
							</th>
							<th>
								{{product.alt}}
							</th>
							<th>
								{{product.type}}
							</th>
							<th>
								<a class="margin10 dashboard__button dashboard__button-modify" href="{{ path('admin_products_edit', {id: product.id})}}">Modifier</a>

								<form method="post" action="{{ path('admin_products_delete', {id: product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
									<button class="margin10 dashboard__button dashboard__button-danger" type="submit">Supprimer</button>
								</form>
							</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
</section>{% endblock %}
