{% extends 'base.html.twig' %}

{% block title %}Admin - Producteurs
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Administration des Producteurs</h2>

		<div class="simpleBox">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Société</th>
						<th>Code Postal</th>
						<th>Ville</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for producer in producer %}
						<tr>
							<th>
								{{producer.id}}
							</th>
							<th>
								{{producer.name}}
							</th>
							<th>
								{{producer.society}}
							</th>
							<th>
								{{producer.zipcode}}
							</th>
							<th>
								{{producer.city}}
							</th>
							<th>
								{{producer.description}}
							</th>
							<th>
								<a class="margin10 dashboard__button dashboard__button-modify" href="{{ path('admin_producers_edit', {id: producer.id})}}">Modifier</a>

								<form method="post" action="{{ path('admin_producers_delete', {id: producer.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce producteur ?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ producer.id) }}">
									<button class="margin10 dashboard__button dashboard__button-danger" type="submit">Supprimer</button>
								</form>
							</th>
						</tr>
					</form>
				</tbody>
			</th>
		</tr>
	{% endfor %}
</tbody></table></div></section>{% endblock %}
