{% extends 'base.html.twig' %}

{% block title %}Admin - Accueil
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Administration</h2>

		<div class="simpleBox">
			<nav class="list">
				<ul class="list__ul">
					<h3 class="list__h3">Catégories</h3>
					<a class="list__link" href="{{ path('admin_categories')}}">
						<li class="list__link-li">Liste des Catégories</li>
					</a>
					<a class="list__link" href="{{ path('admin_categories_add')}}">
						<li class="list__link-li">Ajouter une Catégorie</li>
					</a>
				</ul>
				<ul class="list__ul">
					<h3 class="list__h3">Producteurs</h3>
					<a class="list__link" href="{{ path('admin_producers')}}">
						<li class="list__link-li">Liste des Producteurs</li>
					</a>
					<a class="list__link" href="{{ path('admin_producers_add')}}">
						<li class="list__link-li">Ajouter un Producteur</li>
					</a>
				</ul>
				<ul class="list__ul">
					<h3 class="list__h3">Produits</h3>
					<a class="list__link" href="{{path('admin_products')}}">
						<li class="list__link-li">Liste des Produits</li>
					</a>
					<a class="list__link" href="{{ path('admin_products_add')}}">
						<li class="list__link-li">Ajouter un Produit</li>
					</a>
				</ul>
				<ul class="list__ul">
					<h3 class="list__h3">Utilisateurs</h3>
					<a class="list__link" href="{{ path('admin_users')}}">
						<li class="list__link-li">Liste des Utilisateurs</li>
					</a>
					<a class="list__link" href="{{ path('admin_users_add')}}">
						<li class="list__link-li">Ajouter un Utilisateur</li>
					</a>
				</ul>
			</nav>
		</div>
	</section>
{% endblock %}
