{% extends 'base.html.twig' %}

{% block title %}Warelles -
	{{ category.name }}
{% endblock %}

{% block body %}
	<section class="section burger__effect products">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">{{ category.name }}</h2>
		<div class="section__link">
			<a class="section__link-container" href="#">
				<i class="fa-solid fa-chevron-right section__link-icon"></i>
				Retour
			</a>
		</div>
		<div class="searchBar">
			<div class="searchBar__container">
				<input type="text" placeholder="Rechercher..." class="searchBar__container-input"/>
				<i class="fa-solid fa-magnifying-glass searchBar__container-icon"></i>
			</div>
		</div>

		<div class="grid">
			<div class="grid__container">
				{% for product in products %}
					<div class="card__portrait">
						<p class="card__portrait-title">{{ product.name }}</p>
						<div class="card__portrait-content">
							<div class="card__portrait-image">
								<a href="#">
									<img class="image" src="{{ asset('images/articles/' ~ product.image)}}" alt="{{ product.alt }}">
								</a>
							</div>
							<div class="card__portrait-informations">
								<i class="fa-solid fa-heart card__portrait-icon"></i>
								<p class="card__portrait-text">{{ product.price}}
									/ litre</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
