{% extends 'base.html.twig' %}

{% block title %}Admin - Catégories
{% endblock %}

{% block body %}
	<section class="section section--padding burger__effect" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Administration des Catégories</h2>

		<div class="simpleBox">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Image</th>
						<th>Alt</th>
						<th>Ordre</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr>
							<th>
								{{category.id}}
							</th>
							<th>
								{{category.name}}
							</th>
							<th>
								<img src="{{ asset('images/categories/' ~ category.image)}}" alt="Image">
							</th>
							<th>
								{{category.alt}}
							</th>
							<th>
								{{category.categoryOrder}}
							</th>
							<th>
								<a href="#">Modifier</a>
							</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
