{{ form_start(productForm) }}

<div>
	{{ form_label(productForm.name)}}
	<div class='danger fontSizeSmall listStyleNone'>
		{{ form_errors(productForm.name) }}
	</div>
	{{ form_widget(productForm.name) }}
</div>

<div>
	{{ form_label(productForm.price)}}
	<div class='danger fontSizeSmall listStyleNone'>
		{{ form_errors(productForm.price) }}
	</div>
	<div class="form__input--flexRow">
		{{ form_widget(productForm.price) }}
	</div>
</div>

<div>
	{{ form_label(productForm.stock)}}
	<div class='danger fontSizeSmall listStyleNone'>
		{{ form_errors(productForm.stock) }}
	</div>
	{{ form_widget(productForm.stock) }}
</div>

<div>
	{{ form_label(productForm.alt)}}
	<div class='danger fontSizeSmall listStyleNone'>
		{{ form_errors(productForm.alt) }}
	</div>
	{{ form_widget(productForm.alt) }}
</div>

<div>
	{{ form_label(productForm.type)}}
	<div class='danger fontSizeSmall listStyleNone'>
		{{ form_errors(productForm.type) }}
	</div>
	{{ form_widget(productForm.type) }}
</div>

<div>
	{{ form_label(productForm.categories)}}
	<div class='danger fontSizeSmall listStyleNone'>
		{{ form_errors(productForm.categories) }}
	</div>
	{{ form_widget(productForm.categories) }}
</div>

<div>
	{{ form_label(productForm.producer)}}
	<div class='danger fontSizeSmall listStyleNone'>
		{{ form_errors(productForm.producer) }}
	</div>
	{{ form_widget(productForm.producer) }}
</div>

<div>
	{{ form_label(productForm.image)}}
	<div class='danger fontSizeSmall listStyleNone'>
		{{ form_errors(productForm.image) }}
	</div>
	{{ form_widget(productForm.image) }}

	<div class="preview__image"></div>
</div>

{% if app.request.attributes.get('_route') == 'admin_add' %}

	{{ form_label(productForm.image)}}

	<div class="width100">
		<div class='danger fontSizeSmall listStyleNone'>
			{{ form_errors(productForm.image) }}
		</div>

		{{ form_widget(productForm.image) }}

		<div class="preview__image"></div>
	</div>
{% endif %}

{% if app.request.attributes.get('_route') == 'admin_edit' %}

	{{ form_label(productForm.image)}}

	<div class="width100">
		<div class="margin10">
			{% if product.image %}
				<div class="current__image">
					<h4 class="current__image-text">Image actuelle</h4>
					<img src="{{ asset('images/articles/' ~ product.image)}}" alt="Image" width='200'>
				</div>
			{% endif %}
			<h4 class="current__text">Nouvelle image choisie</h4>
			<div class="preview__image"></div>
		</div>
		<div class='danger fontSizeSmall listStyleNone'>
			{{ form_errors(productForm.image) }}
		</div>
		{{ form_widget(productForm.image) }}
	</div>
{% endif %}

<div class="button">
	<div class="button__container button__container--flex button__container--small">
		<button class="button__link button__link--textSmall button__link--supp" type="submit">
			{{ button_label|default('Ajouter') }}
		</button>
	</div>
</div>

{{ form_end(productForm) }}
