{% extends 'base.html.twig' %}

{% block title %}Warelles - Détails des commandes
{% endblock %}

{% block body %}
	<section class="section section--special section--padding" id="contact">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Détails des commandes</h2>
		<div class="dualbox dualbox--padding2">
			<div class="dualbox__container dualbox__container--resize">
				<div class="dualbox__item-left dualbox__item-left2 form form--supp">
					<h3 class="txtAlign padding10 size22 textDecoration">Vos informations personnelles</h3>
					<div class="padding10">
						<p class="size20 padding5 txtAlign">Bonjour</p>
						<p class="size20 vert txtAlign">
							{{user.lastname}}
							{{user.firstname}}
						</p>
					</div>
					<div class="padding20">
						<p class="padding5 textDecoration">Numéro de Client :</p>
						<p class="vert">{{user.id}}</p>
					</div>
					<div class="padding10">
						<p class="padding5 textDecoration">Adresse e-mail :</p>
						<p class="vert">{{user.email}}</p>
					</div>
					<div class="padding10">
						<p class="padding5 textDecoration">Adresse :</p>
						<p class="vert">{{user.address}}</p>
						<p class="vert padding5">
							{{user.zipcode}}
							{{user.city}}
						</p>
					</div>
				</div>
				<div class="dualbox__item-right dualbox__item-right2 form form--supp">
					<h3 class="txtAlign padding10 size22 textDecoration">Vos commandes</h3>
					<div class="accordion__content2">
						{% for orderDetails in allOrderDetails %}
							<div class="accordion__text--container">
								<div class="accordion__text accordion__textJS">
									<div class="accordion__text-container accordion__text-container--textLarge">
										<div class="size18">
											<p class="textDecoration">Commande du :</p>
											<p class="vert padding5">{{ orderDetails.order.createdAt|date('d/m/Y') }}</p>
										</div>
										<div class="size18">
											<p class="textDecoration">Livraison :</p>
											<p class="vert padding5">{{ orderDetails.order.deliveryFee }}</p>
										</div>
										<i class="fa-solid fa-chevron-right accordion__icon"></i>
									</div>
									<div class="accordion__text-container accordion__remove">
										<div>
											<p class="textDecoration">N° de la commande :
											</p>
											<p class="vert">{{orderDetails.order.id}}</p>
										</div>
										<div class="padding10">
											<p class="textDecoration">Total :</p>
											<p class="vert">{{orderDetails.order.total}}</p>
										</div>
										<div class="button__container--end">
											<button class="button__container button__container--smallSupp detailsOrdersJS">
												<a class="button__link button__link--textSmallSupp button__link--supp" href="#">Voir le détail</a>
											</button>
										</div>
										<div class="arrayDetailsOrders">
											{% for product in orderDetails.products %}
												<div class="arrayDetailsOrders__container detailsOrdersJS--container">
													<div>
														<img class="arrayDetailsOrders__image padding5" src="{{ asset('images/articles/' ~ product.productImage)}}">
													</div>
													<div class="paddingAll10 size15">
														<div class="padding5">
															<p class="textDecoration">Produit :</p>
															<p class="vert">{{ product.productName }}</p>
														</div>
														<div class="padding5">
															<p class="textDecoration">Prix :</p>
															<p class="vert">{{ product.productPrice}}</p>
														</div>
														<div class="padding5">
															<p class="textDecoration">Quantité :</p>
															<p class="vert">{{ product.detailQuantity}}</p>
														</div>
														<div class="padding5">
															<p class="textDecoration">Sous-Total :</p>
															<p class="vert">{{ orderDetails.order.subtotal}}</p>
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="banneryHead">
			<div class="banneryHead__grid">
				<div class="banneryHead__grid-right">
					<div class="banneryHead__icon">
						<img class="banneryHead__icon-image" src="{{ asset('images/icons/Telephone-01-256.png')}}" alt="image représentant l'icône d'un téléphone">
					</div>
					<p class="banneryHead__text">Service Client</p>
					<p class="banneryHead__text">+32477/36.39.71</p>
				</div>
				<div class="banneryHead__grid-center">
					<div class="banneryHead__icon">
						<img class="banneryHead__icon-image" src="{{ asset('images/icons/Message-Mail-256.png')}}" alt="image représentant l'icône d'un mail(enveloppe)">
					</div>
					<p class="banneryHead__text">E-mail</p>
					<p class="banneryHead__text">infos_warelles@gmail.com</p>
				</div>
				<div class="banneryHead__grid-left">
					<div class="banneryHead__icon">
						<img class="banneryHead__icon-image" src="{{ asset('images/icons/Alarm-Clock-256.png')}}" alt="image représentant l'icône d'une horloge">
					</div>
					<p class="banneryHead__text">Du Lundi au Samedi</p>
					<p class="banneryHead__text">de 10h00 à 18h00</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
