{% extends 'base.html.twig' %}

{% block title %}Warelles - Livraison
{% endblock %}

{% block body %}
	<section class="section burger__effect">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Votre adresse de facturation</h2>
		<div class="simpleBox">
			<div class="form form--maxWidth form--flex form--supp" method="post">
				<div>
					<p class="padding5 fontSize18">{{ user.firstname }}</p>
					<p class="padding5 fontSize18">{{ user.lastname }}</p>
					<p class="padding5 fontSize18">{{ user.address }}</p>
					<p class="padding5 fontSize18">{{ user.zipcode }}</p>
					<p class="padding5 fontSize18">{{ user.city }}</p>
				</div>

				<button class="button--marginTop2 button__container button__container--small" id="formModified">
					<a class="button__link button__link--textSmall" href="#">Modifier</a>
				</button>

				<div class="form form--maxWidth form--flex form--supp margin15" id="formParent" method="post">
					{{ form_start(form, {'attr': {'class': 'listStyle'}}) }}
					<div class="form__ul">
						<div class="form__li">
							{{ form_label(form.firstname) }}
							{% if form.firstname.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(form.firstname) }}
								</div>
							{% endif %}
							{{ form_widget(form.firstname)}}
						</div>
						<div class="form__li">
							{{ form_label(form.lastname)}}
							{% if form.lastname.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(form.lastname)}}
								</div>
							{% endif %}
							{{ form_widget(form.lastname)}}
						</div>
						<div class="form__li">
							{{ form_label(form.address) }}
							{% if form.address.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(form.address)}}
								</div>
							{% endif %}
							{{ form_widget(form.address) }}
						</div>
						<div class="form__li">
							{{ form_label(form.zipcode)}}
							{% if form.zipcode.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(form.zipcode)}}
								</div>
							{% endif %}
							{{ form_widget(form.zipcode)}}
						</div>
						<div class="form__li">
							{{ form_label(form.city) }}
							{% if form.city.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors.city}}
								</div>
							{% endif %}
							{{ form_widget(form.city) }}
						</div>
					</div>

					<div class="button--spec">
						<button class="button__container button__container--small button__link button__link--textSmall margin5" id="formCancel" type="submit">
							Annuler
						</button>
						<button class="button__container button__container--small button__link button__link--textSmall margin5" id="formValidate" type="submit">
							Valider
						</button>
					</div>
					{{ form_end(form) }}
				</div>

				{% if order %}
					<div class="padding__spec">
						<p class="padding5 fontSize18">Sous-total:
							{{ subtotal }}
							€</p>
						<p class="padding5 fontSize18">Frais de livraison:
							{{ deliveryFee | number_format(2, '.', '')}}
							€</p>
						<p class="padding5 fontSize18">Total:
							{{ total | number_format(2, '.', '') }}
							€</p>
					</div>
				{% endif %}

				<button class="button--marginTop2 button__container button__container--small">
					<a class="button__link button__link--textSmall" href="{{ path('orders_validate')}}">Valider</a>
				</button>
			</div>
		</div>
	</div>
</section>{% endblock %}
