{% extends 'base.html.twig' %}

{% block title %}Warelles - Livraison
{% endblock %}

{% block body %}
	<section class="section burger__effect">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Livraison et Paiement</h2>
		<div class="simpleBox">
			<div class="form form--maxWidth form--flex form--supp" method="post">
				<div>
					<p class="padding5 fontSize18">{{ user.firstname }}</p>
					<p class="padding5 fontSize18">{{ user.lastname }}</p>
					<p class="padding5 fontSize18">{{ user.address }}</p>
					<p class="padding5 fontSize18">{{ user.zipcode }}</p>
					<p class="padding5 fontSize18">{{ user.city }}</p>
				</div>

				<button class="button--marginTop2 button__container button__container--small" id="buttonModified">
					<a class="button__link button__link--textSmall" href="#">Modifier</a>
				</button>

				<div class="form form--maxWidth form--flex form--supp margin15" id="form" method="post">
					{{ form_start(validateForm, {'attr': {'class': 'listStyle'}}) }}
					<div class="form__ul">
						<div class="form__li">
							{{ form_label(validateForm.firstname) }}
							{% if validateForm.firstname.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.firstname) }}
								</div>
							{% endif %}
							{{ form_widget(validateForm.firstname)}}
						</div>
						<div class="form__li">
							{{ form_label(validateForm.lastname)}}
							{% if validateForm.lastname.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.lastname)}}
								</div>
							{% endif %}
							{{ form_widget(validateForm.lastname)}}
						</div>
						<div class="form__li">
							{{ form_label(validateForm.address) }}
							{% if validateForm.address.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.address)}}
								</div>
							{% endif %}
							{{ form_widget(validateForm.address) }}
						</div>
						<div class="form__li">
							{{ form_label(validateForm.zipcode)}}
							{% if validateForm.zipcode.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.zipcode)}}
								</div>
							{% endif %}
							{{ form_widget(validateForm.zipcode)}}
						</div>
						<div class="form__li">
							{{ form_label(validateForm.city) }}
							{% if validateForm.city.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.city)}}
								</div>
							{% endif %}
							{{ form_widget(validateForm.city) }}
						</div>
					</div>

					<div class="button--spec">
						<button class="button__container button__container--small button__link button__link--textSmall margin5" id="buttonCancel" type="submit">
							Annuler
						</button>
						<button class="button__container button__container--small button__link button__link--textSmall margin5" id="buttonValidate" type="submit">
							Valider
						</button>
					</div>
					{{ form_end(validateForm) }}
				</div>

				{% if order %}
					<div class="padding__spec">
						<p class="padding5 fontSize18">Sous-total:
							{{ subtotal }}
							€</p>
						<p class="padding5 fontSize18">Frais de livraison:
							{% if distance < 5 %}
								Offert
							{% elseif distance > 5 and distance < 10 %}
								{{ deliveryFee}}
								€
							{% elseif distance > 10 and distance < 15 %}
								{{ deliveryFee}}
								€
							{% elseif distance > 15 %}
								<br>
								<span class="red size15 paddingTop5">Pas de livraison au-delà de 15km, mais vous pouvez venir chercher votre colis à la ferme</span>
								<br>
							{% endif %}
						</p>
						<p class="padding5 fontSize18">Total:
							{{ total | number_format(2, '.', '') }}
							€ TTC
						</p>
					</div>
				{% endif %}

				<button class="button--marginTop2 button__container button__container--small">
					<a class="button__link button__link--textSmall" href="{{ path('payment_index', {reference: order.reference})}}">Payer avec Stripe</a>
				</button>
			</div>
		</div>
	</div>
</section>{% endblock %}
