{% extends 'base.html.twig' %}

{% block title %}Warelles - Livraison
{% endblock %}

{% block body %}
	<section class="section burger__effect">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Livraison et Paiement</h2>
		<div class="simpleBox">
			<div class="form form--maxWidth form--supp" method="post">
				<h3 class="vert3 textDecoration textTickness">Coordonnées Personnelles</h3>
				<div class="flexCenter padding20">
					<p class="padding5 size18">{{ user.firstname }}</p>
					<p class="padding5 size18">{{ user.lastname }}</p>
					<p class="padding5 size18">{{ user.address }}</p>
					<p class="padding5 size18">{{ user.zipcode }}</p>
					<p class="padding5 size18">{{ user.city }}</p>

					<button class="button--marginTop2 button__container button__container--small" id="buttonModified">
						<a class="button__link button__link--textSmall" href="#">Modifier</a>
					</button>
				</div>

				<div class="form form--maxWidth form--flex form--supp margin15" id="form" method="post">
					{{ form_start(validateForm, {'attr': {'class': 'listStyle'}}) }}
					<div class="form__ul">
						<div class="form__li">
							{{ form_label(validateForm.firstname) }}
							{% if validateForm.firstname.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.firstname) }}
								</div>
							{% endif %}
							{{ form_widget(validateForm.firstname)}}
						</div>
						<div class="form__li">
							{{ form_label(validateForm.lastname)}}
							{% if validateForm.lastname.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.lastname)}}
								</div>
							{% endif %}
							{{ form_widget(validateForm.lastname)}}
						</div>
						<div class="form__li">
							{{ form_label(validateForm.address) }}
							{% if validateForm.address.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.address)}}
								</div>
							{% endif %}
							{{ form_widget(validateForm.address) }}
						</div>
						<div class="form__li">
							{{ form_label(validateForm.zipcode)}}
							{% if validateForm.zipcode.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.zipcode)}}
								</div>
							{% endif %}
							{{ form_widget(validateForm.zipcode)}}
						</div>
						<div class="form__li">
							{{ form_label(validateForm.city) }}
							{% if validateForm.city.vars.errors|length > 0 %}
								<div class="error-message">
									{{ form_errors(validateForm.city)}}
								</div>
							{% endif %}
							{{ form_widget(validateForm.city) }}
						</div>
					</div>

					<div class="button--spec">
						<button class="button__container button__container--small button__link button__link--textSmall margin5" id="buttonCancel" type="submit">
							Annuler
						</button>
						<button class="button__container button__container--small button__link button__link--textSmall margin5" id="buttonValidate" type="submit">
							Valider
						</button>
					</div>
					{{ form_end(validateForm) }}
				</div>

				{% if order %}
					<h3 class="padding5 vert3 textDecoration textTickness">Informations Paiement</h3>
					<div class="padding20 fontWeight500">
						<p class="padding5 size18">Sous-total:
							{{ subtotal }}
							€</p>
						<p class="padding5 size18">Frais de livraison:
							{% if distance < 5 %}
								Offert
								<span class="red size15 paddingTop5 flex">Votre Livraison est offerte car vous vous trouvez à une distance de moins de 5km</span>
							{% elseif distance > 5 and distance < 10 %}
								{{ deliveryFee}}
								€
								<span class="red size15 paddingTop5 flex">Vos frais de livraison sont de 5€ car vous vous situez dans un rayon de 5 à 10km de la ferme.</span>
							{% elseif distance > 10 and distance < 15 %}
								{{ deliveryFee}}
								€
								<span class="red size15 paddingTop5 flex">Vos frais de livraison sont de 5€ car vous vous situez dans un rayon de 10 à 15km de la ferme.</span>
							{% elseif distance > 15 %}
								<span class="red size15 paddingTop5 flex">Pas de livraison au-delà de 15km, mais vous pouvez venir chercher votre colis à la ferme</span>
							{% endif %}
						</p>
						<p class="padding5 size18">Total:
							{{ total | number_format(2, '.', '') }}
							€ TTC
						</p>
					</div>
				{% endif %}

				<div class="flexCenter">
					<button class="button--marginTop2 button__container button__container--small">
						<a class="button__link button__link--textSmall" href="{{ path('payment_index', {reference: order.reference})}}">Payer avec Stripe</a>
					</button>
				</div>
				<div class="padding20">
					<a class="size12 black textDecorationNone" href="https://support.stripe.com/">Besoin d'explications sur "Stripe" ?</a>
					<i class="fa-solid fa-chevron-right size12"></i>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
