{% extends 'base.html.twig' %}

{% block title %}Warelles -
	{{product.name}}
{% endblock %}

{% block body %}
	<section class="section burger__effect article ">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Détails des produits</h2>
		<div class="section__link">
			<a class="section__link-container" href=" {{ path('products_index', {slug: category.slug})}}">
				<i class="fa-solid fa-chevron-right section__link-icon"></i>
				Retour
			</a>
		</div>
		<div class="dualbox">
			<div class="dualbox__container">
				<div class="dualbox__item-left dualbox__item-left--size">
					<img class="dualbox__image" src={{ asset('images/articles/' ~ product.image)}} alt={}>
				</div>
				<div class="dualbox__item-right">
					<div class="accordion">
						<div class="accordion__content">
							<p class="accordion__title">{{ product.name}}</p>
							<div class="accordion__text accordion__text-active">
								<div class="accordion__text-container accordion__text-container--textLarge">
									Nom de l'entreprise et producteur
									<i class="fa-solid fa-chevron-right accordion__icon"></i>
								</div>
								<div class="accordion__text-container accordion__text-container--textSmall accordion__remove">
									{{ producer.society}}
									<br>
									{{ producer.name}}
								</div>
							</div>
							<div class="accordion__text">
								<div class="accordion__text-container accordion__text-container--textLarge">
									Description du produit
									<i class="fa-solid fa-chevron-right accordion__icon"></i>
								</div>
								<div class="accordion__text-container accordion__text-container--textSmall accordion__remove">
									{{ producer.description }}
								</div>
							</div>
							<div class="accordion__text">
								<div class="accordion__text-container accordion__text-container--textLarge">
									Localisation de l'entreprise
									<i class="fa-solid fa-chevron-right accordion__icon"></i>
								</div>
								<div class="accordion__text-container accordion__text-container--textSmall accordion__remove">
									{{ producer.zipcode }}
									{{ producer.city }}
								</div>
							</div>
						</div>
						<div class="button button--padding">
							<button class="button__container button__container--large">
								{% if product.stock > 0 %}
									<a class="button__link button__link--textSmall" href="{{ path('cart_addRedirect', {id: product.id, slug: category.slug})}}">Ajouter au panier</a>
									<i class="fa-solid fa-chevron-right home__button-icon"></i>
								{% else %}
									<p class="button__link button__link--textSmall danger">Temporairement indisponible</p>
								{% endif %}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="productList">
			<h3 class="productList__text padding10">
				Autres produits de ce producteur:
			</h3>

			<div class="productList__container">
				{% for otherProduct in otherProducts %}
					<div class="productList__portrait">
						<p class="productList__portrait-title">{{ otherProduct.name }}</p>
						<div class="productList__portrait-content">
							<div class="productList__portrait-image">
								<a href="{{ path('products_article', {category_slug: category.slug, product_slug: otherProduct.slug}) }}">
									<img class="image" src="{{ asset('images/articles/' ~ otherProduct.image)}}" alt="{{ otherProduct.alt }}">
								</a>
							</div>
							<div class="productList__portrait-informations">
								<a href=" {{ path('favoris_add', {id: otherProduct.id}) }} ">
									<i class="fa-solid fa-heart card__portrait-icon iconHeart"></i>
								</a>
								<p class="productList__portrait-text">
									{{ otherProduct.price}}€ /
									{{ otherProduct.type }}
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="popUp">
			<div class="popUp__container">
				<div class="popUp__icon-close">
					<i class="fa-solid fa-xmark popUp__iconClose"></i>
				</div>
				<div class="popUp__icon-container">
					<div class="popUp__icon-check">
						<i class="fa-solid fa-check popUp__iconCheck"></i>
					</div>
					<p class="popUp__text">
						Ce produit a été ajouté à votre panier !
					</p>
				</div>
				<div class="popUp__button">
					<button class="button--marginTop2 button__container button__container--large">
						<a class="button__link button__link--textSmall" href="{{ path('products_index', {slug: category.slug})}}">Je continue mon shopping</a>
					</button>
					<button class="button--marginTop2 button__container button__container--large">
						<a class="button__link button__link--textSmall" href="{{ path('cart_index')}}">Je termine ma commande</a>
					</button>
				</div>

				<div class="productList2">
					<h3 class="padding20 productList2__title">Vous aimeriez voir aussi...</h3>
					<div class="productList2__container">
						{% for otherProduct2 in otherProducts2 %}
							<div class="productList2__portrait">
								<p class="productList2__portrait-title">{{ otherProduct2.name }}</p>
								<div class="productList2__portrait-content">
									<div class="productList2__portrait-image">
										<a href="{{ path('products_article', {category_slug: category.slug, product_slug: otherProduct2.slug}) }}">
											<img class="image" src="{{ asset('images/articles/' ~ otherProduct2.image)}}" alt="{{ otherProduct2.alt }}">
										</a>
									</div>
									<div class="productList2__portrait-informations">
										<a href=" {{ path('favoris_add', {id: otherProduct2.id}) }} ">
											<i class="fa-solid fa-heart card__portrait-icon iconHeart"></i>
										</a>
										<p class="productList2__portrait-text">
											{{ otherProduct2.price}}€ /
											{{ otherProduct2.type }}
										</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('pop') }}
{% endblock %}
