{% extends 'base.html.twig' %}

{% block title %}Warelles - Coups de Coeur
{% endblock %}

{% block body %}
	<section class="section burger__effect products">
		<div class="section__bg-overlay"></div>
		<h2 class="section__title-h2">Vos Coups de Coeur</h2>

		<div class="section__link">
			<a class="section__link-container" href="{{ path('home')}}#categories">
				<i class="fa-solid fa-chevron-right section__link-icon"></i>
				Retour
			</a>
		</div>

		<div class="simpleBox simpleBox--column">

			{% if favoris_total_quantity() > 0 %}
				<h3 class="simpleBox__text">Vous avez
					{{ favoris_total_quantity() }}
					produit(s) dans vos "Coups de Coeur".
				</h3>
				{% if not app.user %}
					<div class="favoris__banner">
						<a class="favoris__banner--text vert2" href="{{ path('app_login')}}">Connectez-vous</a>
						<p class="favoris__banner--text favoris__banner--textSpecial">ou</p>
						<a class="favoris__banner--text vert2" href="{{ path('app_register')}}">créez un compte</a>
						<p class="favoris__banner--text favoris__banner--textSpecial">pour sauvegarder votre liste de favoris</p>
					</div>
				{% endif %}
			{% endif %}

			<div class="grid">
				<div class="grid__container--size2">
					{% if data is not empty %}
						{% for element in data %}
							<div class="card__portrait">
								<p class="card__portrait-title">{{ element.product.name }}</p>
								<div class="card__portrait-content">
									<div class="card__portrait-image">
										<div class="button">
											<button class="button__container button__container--medium">
												<a class="button__link button__link--textSmall" href="{{ path('cart_add', {id: element.product.id})}}">
													Ajouter au panier
												</a>
											</button>
										</div>
										<a href="{{ path('products_article', {category_slug: element.category.slug, product_slug: element.product.slug}) }}">
											<img class="image image--height" src="{{ asset('images/articles/' ~ element.product.image)}}" alt="{{ element.product.alt }}">
										</a>
									</div>
									<div class="card__portrait-informations">
										<form method="post" action="{{ path('favoris_delete', {id: element.product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce coup de coeur ?')">
											<input type="hidden" name="token" value="{{ csrf_token('delete') }}">
											<button type="submit" class="button__container button__link--supp">
												<i class="fa-solid fa-trash-can card__portrait-icon"></i>
											</button>
										</form>
										<p class="card__portrait-text">
											{{ element.product.price }}€ /
											{{ element.product.type }}
										</p>
									</div>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<div class="card__portrait-content--enfant">
							<h2 class="padding20 txtAlign vert">Vous n'avez pas de coups de Coeur sélectionné</h2>
							<div class="cart__container2">
								{% if app.user %}
									<div class="cart__container3-image">
										<img class="width100 image3" src="{{ asset('images/backgroundImages/coeur-forme-de-legumes-et-de-fruits-1024x1024.webp') }}" alt="coeur formé avec différentes sortes de légumes">
										<p class="txtAlign padding10">Encore une petite envie de shopping ?</p>
										<div class="button button--padding">
											<button class="button__container button__container--large">
												<a class="button__link button__link--textSmall" href="{{ path('home')}}#categories">
													Je découvre
													<i class="fa-solid fa-chevron-right home__button-icon"></i>
												</a>
											</button>
										</div>
									</div>
								{% else %}
									<div class="cart__container3-image">
										<img class="width100 image3" src="{{ asset('images/backgroundImages/coeur-forme-de-legumes-et-de-fruits-1024x1024.webp') }}" alt="coeur formé avec différentes sortes de légumes">
										<p class="txtAlign padding10">Merci de vous connecter pour accéder à votre liste d'articles favoris !</p>
										<div class="button button--padding">
											<button class="button__container button__container--large">
												<a class="button__link button__link--textSmall" href="{{ path('app_login')}}">
													Je me connecte
													<i class="fa-solid fa-chevron-right home__button-icon"></i>
												</a>
											</button>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>

			<div class="pagination">
				{% if products.pages > 1 %}
					{% include 'includes/_components/_pagination2.html.twig' %}
				{% endif %}
			</div>

			{% if favoris_total_quantity() > 0 %}
				<div class="button button--padding">
					<form method="post" action="{{ path('favoris_empty')}}" onsubmit="return confirm('Êtes-vous sûr de vouloir vider vos favoris ?')">
						<input type="hidden" name="_token" value="{{ csrf_token('empty')}}">
						<button class="button__container button__container--large dashboard__button-danger button__color-white button__link" type="submit">Vider vos favoris</button>
					</form>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
